{% extends "mal.html" %}
{% block innhold %}
<section>
    {% for drink in alle_drinker %}
        <p>{{drink}}</p>
    {% endfor %}

    {% for bilde in bilder %}
        <img src="{{bilde}}" alt="">
    {% endfor %}

    {% for ingrediens in hent_ingredienser %}
        <p>{{ingrediens}}</p>
    {% endfor %}

    <form action="/drink" method="get">
        <input autocomplete="off" autofocus name="name" placeholder="name" type="text">
        <button type="submit">Svar</button>
    </form>
</section>
{% endblock %}
