{% extends "mal.html" %}
{% block innhold %}
<section>
    <p>Score: {{poeng}}</p>
    <p>High score: {{best_score}}</p>
    <h2>Ingredienser</h2>
    <section id="ingrediens_boks">
        <div id="ingredienser">
            {% for ingrediens in hent_ingredienser %}
                <p>{{ingrediens}}</p>
            {% endfor %}
        </div>
    </section>

    {% if not fasit == "" %}
        <p>Riktig svar var: {{fasit}}</p>
    {% endif %}

    {% if ditt_gjett == fasit %}
        <p>Riktig!</p>
    {% elif not ditt_gjett == fasit %}
        <p>Feil! Start på nytt:)</p>
    {% endif %}
    

    <div id="drinker">
        {% for drink in alle_drinker %}
            <div id="drink">
                <p class="drink_navn">{{drink}}</p>
                <form action="/gjett/{{drink}}">
                    <button type="submit"><img class="{{drink}}" src="{{hent_json[drink][1][0]}}" alt=""></button>
                </form>
            </div>

        {% endfor %}    
    </div>
</section>
{% endblock %}
