<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <nav>
            <div id="logo_div">
                <img id="fant_logo" src="{{url_for('static', filename='fant_no.png')}}" alt="">
            </div>
            <div id="nav_lenker">
                <ul>
                    <li><a href="/">Hjem</a></li>
                    <li><a href="/katter">Katter</a></li>
                </ul>  
            </div>
        </nav>
    </header>
    {% block innhold %}

    {% endblock %}
</body>
</html>